{{#partial 'content'}}

    <div style="color:purple; font-family:Serif; text-align:center">
        <h1> List of Sightings!</h1>
    </div>
    {{#if sightings}}
        {{#each sightings }}
            <div class="sight" style="margin: 20px;">
                <p style="font-family:san Serif; padding:10px; font-size:18px;">{{location}}-{{rangerName}}
                    <span class="btn btn-info" style="float: right;"><a style="color: white;" href="/animals/{{animalId}}/sightings/{{id}}">View Details</a></span>
                </p>
                <hr>
            </div>
        {{/each}}
    {{else}}
        <p>No sightings yet!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}